astroid==1.6.0
certifi==2017.11.5
chardet==3.0.4
daiquiri==1.3.0
dateparser==0.6.0
feedparser==5.2.1
humanize==0.5.1
idna==2.6
imageio==2.2.0
isort==4.2.15
lazy-object-proxy==1.3.1
maya==0.3.3
mccabe==0.6.1
numpy==1.13.3
oauthlib==2.0.6
olefile==0.44
pendulum==1.3.2
Pillow==4.3.0
pylatexenc==1.2
pylint==1.8.1
python-dateutil==2.6.1
pytz==2017.3
pytzdata==2017.3.1
regex==2017.12.12
requests==2.18.4
requests-oauthlib==0.8.0
ruamel.yaml==0.15.35
six==1.11.0
twython==3.6.0
tzlocal==1.5.1
urllib3==1.22
Wand==0.4.4
wrapt==1.10.11
